* { padding : 0; margin : 0;}

.body {
    display: grid;
    grid-template-rows: 150px 1fr;
    justify-content: center;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(201, 198, 193);
    width: 100%;
}
.wel {
    font-size: x-large;
    font-style: initial;
    margin-bottom: 10px;
}
table {
    border-collapse: collapse;
}
.ctnt {
    text-align: center;
}
.c_title {
    border-bottom: 1px solid darkblue;
}
h1 {
    text-align: center;
    margin-bottom: 5px;
}
.pageSeleted {
    font-weight: bold;
}
.pageSeleted a {
    color: red;
}
.page {
    text-align: center;
}